*{
    font-family:Helvetica;
    text-align: center;
    color:seashell;
    background-color:black;
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0;
    opacity:0.9;
    vertical-align: baseline;

}

h2 {
    margin: 10px 0px;
}

h3 {
    margin: 8px 0px;
}

h4 {
    margin: 5px 0px;
}

h5 {
    margin: 3px 0px;
}
body {
    font-size: 22px;
}

header {
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}

header img {
    height: 50px;
    margin-left: 10px;
}



nav li{
    display: inline-block;
    text-decoration: underline;
    margin-left: 10px;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('../images/img-mission-background.jpg');
    
    background-size:cover;
    height: 700px;
    /* center jumbotron in main */
    width: 1200px;
    margin: auto;
}

.jumbotron aside {
    width:1200px;
    display: flex;
    flex-direction: column; /* vertical margins of children elements are no longer collapsed! */
    justify-content: space-between;
}

.products {
    /* second section containing teas. */
    width: 1000px;
    margin: 20px auto;
}

.products .products-headers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* horizontal positioning for both lines */
    align-content: center;
}

.teas figure {
    margin: 15px;
}

.teas figure img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.locations {
    /* third section containing locations. */

    width: 1200px;
    height: 600px;
    margin: auto;

    background-image:url('../images/img-locations-background.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

}



.locations h2 {
    width: 100%;
    background-color: transparent;
    margin-bottom: 0px;
}

.locations .addresses {
    /* its display is set to flex so its address containers can flex THEIR headings and paragraphs. */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    margin-top:15px;
    opacity: 1; /* set both container and child divs opacity to 1 to make opacity rendered equal to 1. */
}

.address {
    /* need to flex to position the headings easily. flex along cross-axis. */
    display: flex; 
    flex-direction:column;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    opacity: 1;

    margin: 0px 20px;
}

.contact-info{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.telephone {
    margin-bottom:30px;
}

.copyright {
    float: left;
    margin-left: 20px;
    margin-bottom: 30px;
}