*{
    font-family:Helvetica;
    text-align: center;
    color:seashell;
    background-color:black;
    opacity:0.9;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid red;
    
    
}
body {
    
    font-size: 22px;
}

header {
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}

header img {
    height: 50px;
    margin-left: 10px;
}



nav li{
    display: inline-block;
    text-decoration: underline;
    margin-left: 10px;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/img-mission-background.jpg');
    
    background-size:cover;
    height: 700px;
    /* center jumbotron in main */
    width: 1200px;
    margin: auto;
}

.jumbotron aside {
    width:1200px;
}

.products {
    width: 1000px;
    margin: auto;
    
}

.teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teas figure img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}