*{
    font-family:Helvetica;
    text-align: center;
    color:seashell;
    background-color:black;
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0;
    opacity:0.9;
    
    
}
body {
    font-size: 22px;
}

header {
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}

header img {
    height: 50px;
    margin-left: 10px;
}



nav li{
    display: inline-block;
    text-decoration: underline;
    margin-left: 10px;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('../images/img-mission-background.jpg');
    
    background-size:cover;
    height: 700px;
    /* center jumbotron in main */
    width: 1200px;
    margin: auto;
}

.jumbotron aside {
    width:1200px;
}

.products {
    width: 1000px;
    margin: auto;
    
}

.teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* horizontal positioning for both lines */
    align-content: center;
}

.teas figure {
    margin: 15px;
}

.teas figure img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.locations {
    width: 1200px;
    height: 500px;
    margin: auto;

    background-image:url('../images/img-locations-background.jpg');
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    /* since height of section with heading isn't fixed, 
    this squashes the two sections together in the middle! unexpected solution. */
    align-content: center;
}

.locations > section {
    /* contains heading - locations */
    width: 1200px;
    background-color: transparent;
}

.locations h2 {
    background-color: transparent;
}

.locations .addresses {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.address {
    /* need to flex to position the headings easily. flex along cross-axis. */
    display: flex; 
    flex-direction:column;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    opacity: 1;

    margin: 15px 20px;
}